@model POS.ViewModel.CategoryModel
@{
    ViewBag.Title = "Add New Category";
    Layout = "_Layout";
}

<div class="bg-success p-2 text-dark bg-opacity-25 card-header">
    <h3>Add New Category</h3>
</div>
<div class="card-body">
    <form asp-controller="Category" asp-action="Save" method="post">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="CategoryName" class="floating-label" for="CategoryName">Category Name</label>
                    <input asp-for="CategoryName" class="form-control" id="CategoryName" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="Description" class="floating-label" for="Description">Description</label>
                    <input asp-for="Description" class="form-control" id="Description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="Picture" class="floating-label" for="CatPicture">Picture</label>
                    <input asp-for="Picture" class="form-control" id="CatPicture" />
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
            </div>
        </div>
        <a type="reset" asp-controller="Category" asp-action="Index" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
