@model POS.ViewModel.OrderModel

@{
    ViewBag.Title = "Add New Order";
    Layout = "_Layout";
}

<div class="card-body">
    <form asp-controller="Order" asp-action="Save" method="post">
        <div class="row">
            <div class="col-12">
                <h4 class="content-caption mb-3 d-flex justify-content-between">
                    <span class="text-success">Your cart</span>
                </h4>
                <table class="table table-borderless m-0" id="tbl_posts2">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Discount</th>
                            <th class="text-center"><a class="btn btn-add add-new-product badge btn-success rounded-pill" data-added="0"><i class="bi bi-bag-plus"></i> Add</a></th>
                        </tr>
                    </thead>
                    <tbody id="tbl_posts_body2">
                        <tr id="re-0">
                            <td><input asp-for="OrderDetails[0].ProductId" type="text" class="form-control" /></td>
                            <td><input asp-for="OrderDetails[0].UnitPrice" type="text" class="form-control" /></td>
                            <td><input asp-for="OrderDetails[0].Quantity" type="text" class="form-control" /></td>
                            <td><input asp-for="OrderDetails[0].Discount" type="text" class="form-control" /></td>
                            <td class="text-center"><i class="bi bi-dash-circle-fill text-reset" edu-data-id="1"></i></td>
                        </tr>
                    </tbody>
                    <tbody id="add-table-row">
                    </tbody>
                </table>

                <hr class="my-4">

                <h4 class="mb-3">Billing address</h4>
                <div class="row">
                    @*1*@
                    <div class="col-sm-6 mb-3">
                        <div class="form-group">
                            <label asp-for="CustomerId" for="CustomerId" class="form-label">Customer</label>
                            <select type="text" asp-for="CustomerId" class="form-control" asp-items="@ViewBag.Customer" id="CustomerId">
                                <option selected>Select Customer</option>
                            </select>
                            <span asp-validation-for="CustomerId" class="text-danger"></span>
                        </div>
                    </div>

                    @*2*@
                    <div class="col-sm-6 mb-3">
                        <div class="form-group">
                            <label asp-for="EmployeeId" for="EmployeeId" class="form-label">Employee</label>
                            <select type="text" asp-for="EmployeeId" class="form-control" asp-items="@ViewBag.Employee" id="EmployeeId">
                                <option selected>Select Employee</option>
                            </select>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                    </div>

                    @*3*@
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label asp-for="OrderDate" for="OrderDate" class="form-label">Order Date</label>
                            <input asp-for="OrderDate" type="date" class="form-control" id="OrderDate" required>
                            <span asp-validation-for="OrderDate" class="text-danger"></span>
                        </div>
                    </div>

                    @*4*@
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label asp-for="RequiredDate" for="RequiredDate" class="form-label">Required Date</label>
                            <input asp-for="RequiredDate" type="date" class="form-control" id="RequiredDate" required>
                            <span asp-validation-for="RequiredDate" class="text-danger"></span>
                        </div>
                    </div>

                    @*5*@
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label asp-for="ShippedDate" for="ShippedDate" class="form-label">Shipped Date</label>
                            <input asp-for="ShippedDate" type="date" class="form-control" id="ShippedDate" required>
                            <span asp-validation-for="ShippedDate" class="text-danger"></span>
                        </div>
                    </div>

                    @*6*@
                    <div class="col-sm-3 mb-3">
                        <div class="form-group">
                            <label asp-for="Freight" for="Freight" class="form-label">Freight</label>
                            <input asp-for="Freight" class="form-control" id="Freight" placeholder="Freight" required>
                            <span asp-validation-for="Freight" class="text-danger"></span>
                        </div>
                    </div>

                    @*7*@
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label asp-for="ShipName" for="ShipName" class="form-label">Shipper Name</label>
                            <input asp-for="ShipName" class="form-control" id="ShipName" placeholder="Shipper Name" required>
                            <span asp-validation-for="ShipName" class="text-danger"></span>
                        </div>
                    </div>

                    @*8*@
                    <div class="col-sm-5 mb-3">
                        <div class="form-group">
                            <label asp-for="ShipAddress" for="ShipAddress" class="form-label">Shipper Address</label>
                            <input asp-for="ShipAddress" class="form-control" id="ShipAddress" placeholder="Shipper Address" required>
                            <span asp-validation-for="ShipAddress" class="text-danger"></span>
                        </div>
                    </div>

                    @*9*@
                    <div class="col-sm-3 mb-3">
                        <div class="form-group">
                            <label asp-for="ShipCity" for="ShipCity" class="form-label">Shipper City</label>
                            <input asp-for="ShipCity" class="form-control" id="ShipCity" placeholder="Shipper City" required>
                            <span asp-validation-for="ShipCity" class="text-danger"></span>
                        </div>
                    </div>

                    @*10*@
                    <div class="col-sm-3 mb-3">
                        <div class="form-group">
                            <label asp-for="ShipRegion" for="ShipRegion" class="form-label">Shipper Region</label>
                            <input asp-for="ShipRegion" class="form-control" id="ShipRegion" placeholder="Shipper Region" required>
                            <span asp-validation-for="ShipRegion" class="text-danger"></span>
                        </div>
                    </div>

                    @*11*@
                    <div class="col-sm-3 mb-3">
                        <div class="form-group">
                            <label asp-for="ShipPostalCode" for="ShipPostalCode" class="form-label">Shipper Postal Code</label>
                            <input asp-for="ShipPostalCode" class="form-control" id="ShipPostalCode" placeholder="Shipper Postal Code" required>
                            <span asp-validation-for="ShipPostalCode" class="text-danger"></span>
                        </div>
                    </div>

                    @*12*@
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label asp-for="ShipCountry" for="ShipCountry" class="form-label">Shipper Country</label>
                            <input asp-for="ShipCountry" class="form-control" id="ShipCountry" placeholder="Shipper Country" required>
                            <span asp-validation-for="ShipCountry" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <h4 class="mb-3">Shipper</h4>

                <div class="my-3">
                    @*13*@
                    <div class="col-md-3">
                        <div class="form-group">
                            <select type="text" asp-for="ShipperId" class="form-control" asp-items="@ViewBag.Shipper" id="ShipperId">
                                <option selected>Select Shipper</option>
                            </select>
                            <span asp-validation-for="ShipperId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <button class="w-100 btn btn-success btn-lg" type="submit">Order Now</button>
            </div>
        </div>
    </form>
</div>



@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            var newRow = 1;
            $('a.add-new-product').click(function () {
                $("#add-table-row").append('<tr><td><input id="OrderDetails_' +
                newRow + '__ProductId" class="form-control" type="text" data-val="true" name="OrderDetails[' +
                newRow + '].ProductId" value=""/></td><td><input id="OrderDetails_' +
                newRow + '__UnitPrice" class="form-control" type="text" data-val="true" name="OrderDetails[' +
                newRow + '].UnitPrice" value=""/></td><td><input id="OrderDetails_' +
                newRow + '__Quantity" class="form-control" type="text" data-val="true" name="OrderDetails[' +
                newRow + '].Quantity" value=""/></td><td><input id="OrderDetails_' +
                newRow + '__Discount" class="form-control" type="text" data-val="true" name="OrderDetails[' +
                newRow + '].Discount" value=""/></td><td class="text-center"><a class="btn btn-xs delete-detail" edu-data-id="1"><i class="bi bi-trash text-danger"></i></a></td></tr>');
                newRow++;
            });
            $('#add-table-row').on('click', '.delete-detail', function () {
                $(this).parent().parent().remove();
                newRow--;
                resetValues();
            });
            function resetValues() {
                counter = 1;
                $("#add-table-row tr").each(function () {
                    $(this).find('.ProductId').attr("OrderDetails[" + counter + "].ProductId");
                    $(this).find('.UnitPrice').attr("OrderDetails[" + counter + "].UnitPrice");
                    $(this).find('.Quantity').attr("OrderDetails[" + counter + "].Quantity");
                    $(this).find('.Discount').attr("OrderDetails[" + counter + "].Discount");
                    counter++;
                })
            }
        });
    </script>
}
